.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.idea/dbnavigator.xml
.idea/LMSTool.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
